#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > section {
  width: 900px;
  height: 700px;
  border: 1px solid #666;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#app > section > div {
  height: auto;
}

#app > section input {
  width: 793px;
  margin-left: 6px;
}

#app > section ul {
  display: flex;
  flex-direction: column;
  /*justify-content: baseline;*/
  flex-wrap: nowrap;
  list-style: none;
  margin-left: 10px;
  margin-bottom: 5px;
  height: 630px;
  overflow-y: auto;
}

#app > section ul > li:first-child {
  margin-top: auto;
}

#app > .modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(200,200,200,0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
}

#app > .modal-wrap .modal{
  margin-top: 100px;
  width: 360px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app > .modal-wrap .modal h2{
  margin-top: 0px
}

#app > .modal-wrap .modal input, #app > .modal-wrap .modal button{
  margin-bottom: 0;
}

#app .logout-button {
  margin-top: 15px;
}

#app .error {
  color: red;
}